language: python
python:
  - "3.7"
cache: pip
install:
  - pip install -r requirements.txt
  - pip install -r tests/test-requirements.txt
script:
  - python setup.py install
  - nosetests --with-coverage --cover-package=webedge tests.unit